*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#search-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

input[type='text'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 0 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[type='text']::placeholder {
  color: #808080;
}

input[type='text']:hover {
  border-color: #000;
}

input[type='text']:focus {
  border-color: #4e75ff;
  outline: none;
  transition: 250ms ease;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn:hover {
  background-color: #6c8cff;
  transition: 250ms ease;
}

.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-item img {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 20px;
}

.info p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info b {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {

  0%,
  100% {
    bottom: -35px
  }

  25%,
  75% {
    bottom: -2px
  }

  20%,
  80% {
    bottom: 2px
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg)
  }

  25%,
  75% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(25deg)
  }
}

.load-more {
  margin: 0 auto 44px;
  width: 125px;
}